<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello page</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form th:method="POST" th:action="@{/main}" th:object="${message}">
        <input type="text" name="text" th:field="*{text}" placeholder="Введите сообщение"/>
        <div style="color: red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name error</div>
        <input type="text" name="tag" th:field="*{tag}" placeholder="Тэг"/>
        <div style="color: red" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Name error</div>
        <button type="submit">Send message</button>
    </form>
</div>
<div>Message list: </div>
<form th:method="POST" th:action="@{/filter}">
    <input type="text" name="filter"/>
    <button type="submit">Find</button>
</form>
<dib th:each="message : ${messages}">
    <div th:text="${message.getId() + '; ' + message.getText() + ';| ' + message.getTag() + ';| author: ' + message.getAuthorName()}"></div>
</dib>
</body>
</html>